<strong>Olá, {{ student }}</strong>
<p>Você acabou de ser matriculado na GymPoint.</p>
<p>
  <p><b>Data Início Do Plano Escolhido:</b> {{ start_date }}</p>
  <p><b>Data Fim do Plano Escolhido:</b> {{ end_date }}</p>

  <p><b>Plano Escolhido:</b> {{ plan }} ({{ plan_duration }} meses)</p>
  <p><b>Preço Total:</b> {{ price }} reais</p>
</p>
